.wt{
    color: white;
}

.bt{
    color: black;

}

.sec2heading{
    padding-top: 80px;
}

.formw{

    width: 410px;
    height: 44px;
    border-radius: 10px;
}

.heading{
    font-weight: 700;
    font-size: 46px;
    color: black;
    line-height: 55px;
}


.bfont{
    size: 22px;
    color: black;
    font-weight: 400;
}

.card{

    width: 352px;
    

}

.navbar{
    padding-top: 44.9px;
}

.text1{
    width: 317px;
}

.tabbuttons{
    background-color: #E4E4E499;
    width: 408px;
    margin-left: 515px;
    justify-content: space-around;

}
.tabimg{
    padding-left: 51px;
}

.video{

    height: 509px ;
    width: 904px;
    border-radius: 20px;

}
.video video{
    border-radius: 10px;
}

.uk-subnav-pill > .uk-active > a {
    color: #fff;
    border-radius: 18px;
    background-color: #02EF93;

}
.uk-subnav-pill > * > :first-child {
    padding: 7px 42px;
}